body, html, div {
  margin: 0;
  padding: 0;
}
#root {
  width: 100vw;
  min-height: 100vh;
  background-color: #9394a3;
}
#article {
  width: 60vw;
  margin-left: 20vw;
  min-height: 200vh;
  background-color: #fff;
}
#main {
  border-top: 20px solid #fff;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
#top {
  height: 400px;
  font-size: 200px;
  color: #fff;
}
#rain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}