html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.window {
  position: absolute;
  margin: 0;
  padding: 8px;
  border-width: 5px;
  border-color: #99b;
  border-style: solid;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #fff;
}
.window .handle {
  display: block;
  content: "\00a0";
  margin: -13px -13px 8px -13px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 24px;
  background-color: #99b;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  padding: 3px;
}
.window .handle .button {
  display: inline;
}
.taskbar {
  background-color: #333;
  width: 100%;
  height: 48px;
  position: absolute;
  bottom: 0;
  font-family: Helvetica, Arial, sans-serif;
  text-align: right;
}
.taskbar .content {
  margin: 3px;
}