html, body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  font-size: 11pt;
  overflow-x: hidden;
}

#webring-wrapper {
  width: 100%;
  text-align: center;
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}

#markdown-contents p {
  text-indent: 24pt;
}

#markdown-contents em {
  font-style: italic;
}

.no-indent {
  text-indent: 0;
}

.sidebar {
  width: 20%;
  position: absolute;
  color: #fff;
}

.sidebar-contents {
  padding: 24px;
}

#left {
  left: 0;
}

#right {
  left: 80%;
}

.content {
  display: block;
}

#center {
  position: absolute;
  left: 20%;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  width: 60%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

#markdown-contents {
  padding: 24px;
}

#center a {
  color: #888;
}
#center a:hover {
  color: #aaa;
}

.sidebar a {
  color: #aaa;
}
.sidebar a:hover {
  color: #888;
}
#footer-small {
  display: none;
}

#button-wrapper a {
  text-decoration: none;
}
#button-wrapper a img {
  width: 88px;
  height: 31px;
}
.button {
  border: none;
  width: 88px;
  display: inline-block;
  height: 31px;
  margin: 0;
  padding: 0;
}
.button-text {
  background-color: #000;
  font-family: monospace;
  color: #fff;
  display: inline-block;
  border: none;
  width: 88px;
  height: 31px;
  overflow: scroll;
}

@media (max-width: 1280px) {
  #left .sidebar-contents {
    padding-bottom: 0;
  }
  #center {
    width: auto;
    left: 24px;
    right: 30%;
  }
  .sidebar {
    position: static;
    display: block;
    width: 100%;
  }
  #sidebar-wrapper {
    position: absolute;
    left: 70%;
    width: 30%;
    display: inline-block;
  }
}

@media
  (max-width: 720px),
  (hover: none) and (orientation: portrait),
  (pointer: none) and (orientation: portrait),
  (pointer: coarse) and (orientation: portrait) {
  #left .sidebar-contents {
    padding-bottom: 0;
  }
  #center {
    position: static;
    display: block;
    width: 100%;
    background-color: #000;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
  }
  #markdown-contents {
    margin: 24px;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 12px;
  }
  .sidebar {
    position: static;
    display: block;
    width: 100%;
  }
  .sidebar-contents {
    padding: 36px;
  }
  #sidebar-wrapper {
    position: static;
    width: 100%;
    display: block;
  }
  #footer-large {
    display: none;
  }
  #footer-small {
    display: block;
    color: #fff;
    padding: 24px;
    padding-top: 0;
  }
}